body{
    text-align: center;
    font-size: large;
    font-family: sans-serif;
}

h1{
    color: rgb(11, 142, 142) ;
}

#textbox{
    height: 30px;
    width: 400px;
    text-align: center;
    font-size: large;
    margin-bottom: 15px;
    font-weight: solid rgb(64, 50, 50);
}
#mysubmit{
    height: 50px;
    width: 100px;
    background-color: hsl(0, 100%, 52%);
    color: aliceblue;
    border-radius: 5px;
    font-size: large;
}
form{
    border: 5px 5px 15px  hsla(0, 0%, 0%, 0.3);
    background-color: hsla(0, 13%, 84%, 0.761);
    border: none;
    text-align: center;
    padding: 25px;
    font-size: 2em;
    border-radius: 10px;
    box-shadow: 30px;
}
label{
    font-weight: bold;
}
